.ingredient-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-start;
  align-items: center;
}
.admin-form-inputs {
  color: black;
  width: 100%;
  font-weight: normal;
  padding: 0 6px;
  outline: none;
  background-color: #fff;
}
.admin-form-label {
  color: #fff;
  background-color: var(--primary);
  padding: 8px 12px;
}
.admin-form-inputs-c {
  display: flex;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 20px;
}
.admin-form-file-input {
  /* color: black;
  font-weight: normal;
  padding: 0 12px;
  outline: none; */
  width: 0.1px;
  height: 0.1px;
}
.file-input-label {
  width: 100%;
  background-color: var(--primary);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  position: relative;
}

.file-input-label:hover {
  background-color: var(--primary-light);
}

.fullscale {
  transition: all 0.5s ease;
  transform: scale(1);
  position: absolute;
  opacity: 1;
}

.noscale {
  transition: all 0.5s ease;
  transform: scale(0);
  position: absolute;
  opacity: 0;
}
