.order-items-list {
  overflow-y: auto;
}
.order-items-list::-webkit-scrollbar {
  width: 1em;
}
.order-items-list::-webkit-scrollbar-track {
  background: #fff;
}
.order-items-list::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
