.admin-products-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.admin-products-list li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
  height: 123px;
  background-color: var(--primary);
  color: #fff;
  margin: 8px 0;
}
.admin-list-button {
  color: var(--primary);
  background-color: #fff;
  font-weight: bold;
  padding: 12px 28px;
  border-radius: 10px;
  margin-left: 28px;
  text-align: center;
  font-size: 24px;
}

.admin-list-button:hover {
  background-color: #000;
}

.admin-list-heading {
  font-size: 42px;
  color: #fff;
  background-color: #ec1a37;
  width: 100%;
  padding: 28px;
  font-weight: bold;
  text-align: center;
}
