.orders {
  overflow: auto;
  width: 100%;
  height: 100%;
}
.order {
  display: flex;
  border: 2px solid #ec1a37;
  margin: 1rem 0;
  padding: 1rem;
  align-items: center;
  font-family: "Outfit";
}

.order-info {
  /* margin-right: 2rem; */
  width: 20%;
  display: flex;
  align-items: center;
}

.order-info span,
.order span {
  font-weight: bold;
}

.order-products {
}

.order-products span {
  margin-right: 0.5rem;
  color: #ec1a37;
}

.order .icon {
  margin-right: 1rem;
}
