.cart-address-info-container-active {
  background-color: #ec1a37;
  color: white;
  width: 100%;
  height: 40vh;
  border: 2px solid white;
  padding: 3rem;
  transition: all 0.3s ease;
}
.cart-address-info-container {
  background-color: #ec1a37;
  color: white;
  width: 100%;
  height: 20vh;
  border: 2px solid white;
  padding: 3rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cart-address-info-container h1,
.cart-address-info-container-active h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.cart-address-info-container-active h1 .number {
  width: 70px;
  height: 70px;
  background-color: white;
  color: #ec1a37;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.cart-address-info-container h1 .number {
  width: 70px;
  height: 70px;
  background-color: #ec1a37;
  color: white;
  border: 10px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}
.cart-address-info-container .select-address-buttons {
  display: none;
}

.cart-address-info-container-active .address-buttons {
  background-color: #fff;
  color: black;
  padding: 0.75rem;
  width: 60%;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.cart-address-info-container-active .address-buttons:nth-child(1) {
  width: 60%;
}

.cart-address-info-container-active .address-info-buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cart-address-info-container-active .select-address-buttons {
  display: flex;
  justify-content: center;
}
.cart-address-info-flexCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  /* align-items: center; */
  /* background-color: blue; */
}

.invisible {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.visible {
  opacity: 1;
  /* transition: opacity 0.3s ease-in-out; */
}
.cart-address-info-address-list {
  height: 150px;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow-y: auto;
}
.cart-address-info-address-list button {
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  /* border: 2px solid black; */
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}
.cart-address-info-container-active .next-step-button {
  background-color: white !important;
  color: #ec1a37;
  font-weight: bold;
  width: 100%;
  /* height: 10%; */
  padding: 1rem 2rem;
  border-radius: 1rem;
  /* align-self: flex-end; */
}

.cart-payment-info-container-active {
  background-color: #ec1a37;
  border: 2px solid white;
  margin-top: 1rem;
  padding: 3rem;
  height: 40vh;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cart-payment-info-container {
  background-color: #ec1a37;
  border: 2px solid white;
  margin-top: 1rem;
  padding: 3rem;
  height: 20vh;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cart-payment-info-container-active h1,
.cart-payment-info-container h1 {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.cart-payment-info-container-active .number {
  background-color: white;
  color: #ec1a37;
  font-size: 2rem;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.cart-payment-info-container .number {
  width: 70px;
  height: 70px;
  background-color: #ec1a37;
  color: white;
  border: 10px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.cart-payment-info-container-active .payment-options {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.cart-payment-info-container .payment-options {
  display: none;
}
.payment-option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-icon {
  margin-right: 0.5rem;
}
.payment-options button {
  width: 50%;
  background-color: #fff;
  color: black;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}
.payment-options button:hover {
  background-color: black;
  color: var(--primary);
}
.cart-payment-info-container-active .payment-and-next-step {
  display: flex;
  width: 100%;
}

.cart-payment-info-container .payment-and-next-step {
  display: none;
}

.address-payment-complete-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.order-moving-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.next-step-button {
  background-color: white !important;
  color: #ec1a37;
  width: 50%;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.next-step-button:hover {
  background-color: black !important;
}

.order-complete-info-active {
  background-color: #ec1a37;
  width: 100%;
  height: 40vh;
  margin-top: 1rem;
  border: 2px solid white;
  padding: 3rem;
  transition: all 0.3s ease;
  overflow: auto;
}

.order-complete-info {
  background-color: #ec1a37;
  width: 100%;
  height: 20vh;
  margin-top: 1rem;
  border: 2px solid white;
  padding: 3rem;
  transition: all 0.3s ease;
  overflow: hidden;
}
.order-complete-info-active h1,
.order-complete-info h1 {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.order-complete-info-active h1 .number {
  width: 70px;
  height: 70px;
  background-color: white;
  color: #ec1a37;
  border: 10px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.order-complete-info h1 .number {
  width: 70px;
  height: 70px;
  background-color: #ec1a37;
  color: white;
  border: 10px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.order-complete-info-active .complete-info {
  display: flex;
}

.order-complete-info .complete-info {
  display: none;
}

.payment-and-bill-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.complete-info .payment-method {
  background-color: #fff;
  color: black;
  width: 90%;
  padding: 1rem;
  text-align: center;
  border-radius: 0.25rem;
}

.complete-info .bill-info {
  display: flex;
  width: 90%;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.complete-info .order-moving-buttons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
.complete-info .order-moving-buttons .comments {
  padding: 10px;
  width: 100%;
  resize: none;
}

.complete-info .order-moving-buttons button {
  width: 100%;
}
.bill-info .costs {
  text-align: end;
}

.mapouter iframe {
  width: 12vw;
  height: 12vw;
}

.next-step-button .icon {
  margin-right: 0.5rem;
  font-weight: bold;
}
.complete-order-button {
  color: #ec1a37;
  font-weight: bold;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #fff;
  background-color: black !important;
  margin-top: 0.5rem;
}
