/* .cart-page-step {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  padding: 0 10px;
  margin: 0 20px;
}

.cart-page-product-list {
  padding: 0 15px;
  background-color: var(--primary);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
  margin-bottom: 20px;
}
.cart-page-header {
  color: #fff;
  text-align: center;
  font-size: 32px;
  width: 100%;
  border-bottom: 4px solid #fff;
  margin-bottom: 20px;
}
.cart-page-product-list::-webkit-scrollbar {
  width: 1em;
}
.cart-page-product-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.851);
  border-radius: 1px;
}
.cart-page-product-list::-webkit-scrollbar-track {
  background-color: #fff;
}
.cart-address-select-button {
  width: 100%;
  background-color: #fff;
  z-index: 10000;
}
.cart-address-list {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}
.cart-address-option {
  width: 100%;
  height: 100%;
}
.cart-address-option button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  padding-left: 15%;
}
.cart-address-option:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.cart-comments {
  background-color: white;
  position: relative;
  width: 250px;
  height: 100px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  resize: none; */
/* margin-bottom: 20px; */
/* } */
/* .cart-address-field-header {
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}
.cart-comments-counter {
  position: absolute;
  bottom: 5%;
  right: 2%;
  color: black;
  font-weight: 500;
}
.payment-button-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  width: 240px;
  position: relative;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 5px;
}
.payment-button-c:hover {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}
.payment-button-c input {
  opacity: 0;
  position: absolute;
}
.payment-fill-bar {
  width: 20%;
  height: 2px;
  background-color: var(--primary);
}
.payment-button-c input:checked ~ .payment-fill-bar {
  transition: all 0.5s ease;
  width: 100%;
}

.radio-button-mock {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--primary);
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-button-mock::after {
  content: "";
  width: 75%;
  height: 75%;
  background-color: var(--primary);
  border-radius: 100%;
  transform: scale(0);
}
.payment-button-c input:checked ~ .radio-button-mock::after {
  transition: all 0.5s ease;
  transform: scale(1);
}
.payment-button-c:hover .radio-button-mock {
  border-color: #fff;
}
.payment-button-c:hover .radio-button-mock::after {
  background-color: #fff;
}
.payment-button-c:hover .payment-fill-bar {
  background-color: #fff;
} */
/* 
.cart-address-info-input {
  background-color: white;
  outline: none;
  padding: 5px 0px;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 5px;
  width: 100%; */
/* z-index: 0; */
/* } */
/* .proceed-button {
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
} */

.cart-address-info-container-active {
  background-color: #ec1a37;
  color: white;
  width: 100%;
  height: 40vh;
  border: 2px solid white;
  padding: 3rem;
  transition: all 0.3s ease;
}
.cart-address-info-container {
  background-color: #ec1a37;
  color: white;
  width: 100%;
  height: 20vh;
  border: 2px solid white;
  padding: 3rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cart-address-info-container h1,
.cart-address-info-container-active h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.cart-address-info-container-active h1 .number {
  width: 70px;
  height: 70px;
  background-color: white;
  color: #ec1a37;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.cart-address-info-container h1 .number {
  width: 70px;
  height: 70px;
  background-color: #ec1a37;
  color: white;
  border: 10px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}
.cart-address-info-container .select-address-buttons {
  display: none;
}

.cart-address-info-container-active .address-buttons {
  background-color: black;
  padding: 1rem;
  width: 50%;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.cart-address-info-container-active .address-buttons:nth-child(1) {
  width: 60%;
}

.cart-address-info-container-active .address-info-buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cart-address-info-container-active .select-address-buttons {
  display: flex;
  justify-content: center;
}

.cart-address-info-container-active .next-step-button {
  background-color: white;
  color: #ec1a37;
  font-weight: bold;
  width: 30%;
  height: 10%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  align-self: flex-end;
}

.cart-payment-info-container-active {
  background-color: #ec1a37;
  border: 2px solid white;
  margin-top: 1rem;
  padding: 3rem;
  height: 40vh;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cart-payment-info-container {
  background-color: #ec1a37;
  border: 2px solid white;
  margin-top: 1rem;
  padding: 3rem;
  height: 20vh;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cart-payment-info-container-active h1,
.cart-payment-info-container h1 {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.cart-payment-info-container-active .number {
  background-color: white;
  color: #ec1a37;
  font-size: 2rem;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.cart-payment-info-container .number {
  width: 70px;
  height: 70px;
  background-color: #ec1a37;
  color: white;
  border: 10px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.cart-payment-info-container-active .payment-options {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.cart-payment-info-container .payment-options {
  display: none;
}
.payment-option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-icon {
  margin-right: 0.5rem;
}
.payment-options button {
  width: 50%;
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  color: white;
}

.cart-payment-info-container-active .payment-and-next-step {
  display: flex;
  width: 100%;
}

.cart-payment-info-container .payment-and-next-step {
  display: none;
}

.address-payment-complete-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.order-moving-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.next-step-button {
  background-color: white;
  color: #ec1a37;
  width: 50%;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.order-complete-info-active {
  background-color: #ec1a37;
  width: 100%;
  height: 40vh;
  margin-top: 1rem;
  border: 2px solid white;
  padding: 3rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.order-complete-info {
  background-color: #ec1a37;
  width: 100%;
  height: 20vh;
  margin-top: 1rem;
  border: 2px solid white;
  padding: 3rem;
  transition: all 0.3s ease;
  overflow: hidden;
}
.order-complete-info-active h1,
.order-complete-info h1 {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.order-complete-info-active h1 .number {
  width: 70px;
  height: 70px;
  background-color: white;
  color: #ec1a37;
  border: 10px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.order-complete-info h1 .number {
  width: 70px;
  height: 70px;
  background-color: #ec1a37;
  color: white;
  border: 10px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.order-complete-info-active .complete-info {
  display: flex;
}

.order-complete-info .complete-info {
  display: none;
}

.payment-and-bill-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.complete-info .payment-method {
  background-color: black;
  color: white;
  width: 90%;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}

.complete-info .bill-info {
  display: flex;
  width: 90%;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.complete-info .order-moving-buttons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.complete-info .order-moving-buttons button {
  width: 100%;
}
.bill-info .costs {
  text-align: end;
}

.mapouter iframe {
  width: 12vw;
  height: 12vw;
}

.next-step-button .icon {
  margin-right: 0.5rem;
  font-weight: bold;
}
