.nav-bar {
  display: flex;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(black 15%, rgba(0, 0, 0, 0));
  color: white;
  font-family: Outfit;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-bar h1 {
  font-weight: bold;
  font-size: 2rem;
  width: 10%;
}

.nav-links {
  display: flex;
  /* margin: 0 10%; */
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  width: 100%;
  padding: 0 8rem;
}
.nav-links a {
  text-decoration: none;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.nav-links a:hover {
  transition-duration: 0.3s;
  background-color: #ec1a37;
}

.cart-and-profile {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.cart {
  font-size: 2rem;
}
.cart :hover {
  transition-duration: 0.3s;
  color: #ec1a37;
  cursor: pointer;
}
.profile-icon {
  margin-left: 2rem;
  font-size: 2rem;
}

.profile-icon :hover {
  transition-duration: 0.3s;
  color: #ec1a37;
  cursor: pointer;
}

.nav-login-button {
  background-color: var(--primary);
  transition: all 0.3s ease;
  font-size: 1.5rem;
}
.nav-login-button:hover {
  background-color: #fff;
  color: var(--primary);
}

/* @media screen and (width <= 950px) {
  .cart-and-profile {
    width: max-content;
  }
  .nav-links {
    width: 100%;
  }
  .nav-bar h1 {
    width: max-content;
  }
} */
