.inputs {
  margin: 2rem 0;
  padding: 1.5rem 0;
}

.auth-label {
  transition: all 0.5s ease;
  transition-duration: 1s;
  /* color: rgba(0, 0, 0, 0.483); */
  color: rgba(236, 26, 55, 0.8);
}

.auth-input {
  background-color: transparent;
  padding-left: 6rem;
  outline: none;
  width: 100%;
  color: black;
  position: absolute;
  left: 0;
}
