footer {
  z-index: 100;
}

.footer-container{
  background-color: black;
  color: white;
}
.footer-icons{
  width: 100%;
  display: flex;
  justify-content: center;
}
.social-icons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 36px;
  width: 60px;
  height: 60px;
  color: #f0f0f0;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;
}

.social-icons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 25%;
  z-index: 1;
  transition: transform 0.3s ease-in;
}

.facebook-icon::before {
  background: #38529a;
}

.instagram-icon::before {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.twitter-icon::before {
  background: #1c96e9;
}

.youtube-icon::before {
  background: #f70000;
}

.social-icons a:hover::before {
  transform: scale(0);
}

.social-icons a .social-icon {
  transition: transform 0.3s ease-in;
  z-index: 1;
}

.facebook-icon:hover .social-icon {
  color: #38529a;
  transform: scale(1.5);
}

.twitter-icon:hover .social-icon {
  color: #1c96e9;
  -webkit-color-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}

.instagram-icon:hover .social-icon {
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  transform: scale(1.5);
}

.instagram-icon:hover .social-icon {
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  transform: scale(1.5);
}
.youtube-icon:hover .social-icon {
  color: #f70000;
  transform: scale(1.5);
}

.footer-info-container{
  display: flex;
  justify-content: space-evenly;
}
.footer-info{
  margin: 1rem;
  font-size: 1rem;
}
.footer-info-header{
  font-size: 2rem;
  font-weight: bold;
}
.footer-links-container{
  display: flex;
  flex-direction: column;
}
.footer-link{
  font-size: 1.2rem;
}
.footer-link:hover{
  color: #ec1a37;
}

@media screen and (max-width: 600px){
  .social-icons a {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
  .social-icons a::before {
    width: 30px;
    height: 30px;
  }
  .footer-info{
    font-size: 0.5rem;
  }
  .footer-info-header{
    font-size: 1.2rem;
    text-align: center;
  }
  .footer-info-container{
    flex-direction: column;
    align-items: center;
  }
  .footer-link{
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
}