.footer {
  z-index: 100;
}
/* .facebook-icon:hover {
  color: #28589c;
}

.twitter-icon:hover {
  color: #1da1f2;
}

.instagram-icon:hover {
  color: #e1306c;
}

.youtube-icon:hover {
  color: #ff0000;
} */

.social-icons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 36px;
  width: 60px;
  height: 60px;
  color: #f0f0f0;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 7px;
}

.social-icons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 25%;
  z-index: 1;
  transition: transform 0.3s ease-in;
}

.facebook-icon::before {
  background: #38529a;
}

.instagram-icon::before {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.twitter-icon::before {
  background: #1c96e9;
}

.youtube-icon::before {
  background: #f70000;
}

.social-icons a:hover::before {
  transform: scale(0);
}

.social-icons a .social-icon {
  transition: transform 0.3s ease-in;
  z-index: 1;
}

.facebook-icon:hover .social-icon {
  color: #38529a;
  transform: scale(1.5);
}

.twitter-icon:hover .social-icon {
  color: #1c96e9;
  -webkit-color-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}

.instagram-icon:hover .social-icon {
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  transform: scale(1.5);
}

.instagram-icon:hover .social-icon {
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  transform: scale(1.5);
}
.youtube-icon:hover .social-icon {
  color: #f70000;
  transform: scale(1.5);
}
