@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  overflow-x: hidden;
}

:root {
  --primary: #ec1a37;
  --success: #73b948;
  --warning: #e99b27;
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin-anim {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.form-shadow {
  box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.267);
}
.form-area {
  resize: none;
  outline: none;
  padding: 5px;
  font-weight: normal;
}
@keyframes dropdown-list {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown-list {
  animation-name: dropdown-list;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.dropbox-option {
  border-bottom: 1px solid rgba(21, 21, 21, 0.188);
  width: 100%;
  padding: 5px;
  background-color: #ec1a37;
  color: #fff;
  transition: all 0.1s ease;
}
.dropbox-option:hover {
  background-color: #fff;
  color: black;
}
.form-submit-button {
  transition: all 0.2s ease;
}
.form-submit-button:hover {
  background-color: var(--primary);
}
.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dark-scrollbar::-webkit-scrollbar {
  width: 1em;
}
.dark-scrollbar::-webkit-scrollbar-track {
  width: 1em;
}
.dark-scrollbar::-webkit-scrollbar-thumb {
  width: 1em;
}

.auth-label {
  transition: all 0.5s ease;
}

.auth-input {
  background-color: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
}
.spin-button:hover {
  animation-name: spin-anim;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
